html
    head
        title News Portal
    body
        div(id='app') !{entry} 
    script.
        window.__PRELOADED_STATE__ = !{JSON.stringify(blogs).replace(/</g, '\\u003c')}
    script
        include ../../../dist/client.js