<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular app</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <link rel="stylesheet" href="./styles.css">
</head>
<body ng-app='toDoApp'>
    <div ng-controller='toDoController as ctrl' class='lists'>
        <div class='todo-list'>
            <h2>New todos</h2>
            <div>
                <button>Filter todos by date</button>
            </div>
            <div ng-repeat='todo in ctrl.todoList | filter: todo.done === false'>
                <input type='checkbox' ng-model='todo.done' />
                <span>{{todo.todo}}</span>
                <div>{{todo.date | date:'medium'}}</div>
            </div> 
            <div>
                <input type='text' ng-model='ctrl.newTodo'/>
                <button ng-click='ctrl.addTodo(newTodo)'>Add</button>
            </div>
        </div>
        <div class='todo-list'>
            <h2>Done todos</h2>
            <div ng-repeat='todo in ctrl.todoList | filter: !todo.done'>
                <input type='checkbox' ng-model='todo.done' />
                <span>{{todo.todo}}</span>
                <div>{{todo.date | date:'medium'}}</div>
            </div> 
        </div>
    </div>
    <script src="./index.js"></script>
</body>
</html>
