html
  head
    title!= User
    style
        include ../styles/styles.css
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js')
  body
    form.userForm
        label(for="username") User name
        input#username
        label(for="password") Password
        input#password
        button#signIn Sign in
        button#signUp Sign up

    script
        include ../scripts/script.js